.bili-wrap {
  width: 100%;
  height: auto; }
  .bili-wrap .bili-header-bar {
    width: 100%; }
    .bili-wrap .bili-header-bar .top-bar {
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #ccc; }
      .bili-wrap .bili-header-bar .top-bar .icon-group {
        height: 40px;
        display: -webkit-box;
        -webkit-box-align: center; }
        .bili-wrap .bili-header-bar .top-bar .icon-group .icon {
          display: block;
          height: 40px;
          width: 40px;
          margin-right: 10px;
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center; }
          .bili-wrap .bili-header-bar .top-bar .icon-group .icon i {
            width: 22px;
            height: 22px;
            display: block;
            background: url(../img/position1.png) no-repeat;
            background-size: 274px auto; }
            .bili-wrap .bili-header-bar .top-bar .icon-group .icon i.search-icon {
              background-position: 0 -205px; }
            .bili-wrap .bili-header-bar .top-bar .icon-group .icon i.history-icon {
              background-position: -22px -205px; }
          .bili-wrap .bili-header-bar .top-bar .icon-group .icon.logo {
            height: 28px; }
            .bili-wrap .bili-header-bar .top-bar .icon-group .icon.logo img {
              display: block;
              height: 100%; }
        .bili-wrap .bili-header-bar .top-bar .icon-group.left-icon-group {
          float: left; }
          .bili-wrap .bili-header-bar .top-bar .icon-group.left-icon-group .icon {
            margin-left: 20px; }
        .bili-wrap .bili-header-bar .top-bar .icon-group.right-icon-group {
          float: right;
          margin-right: 5px; }
    .bili-wrap .bili-header-bar .header-nav {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #ccc;
      display: -webkit-box; }
      .bili-wrap .bili-header-bar .header-nav a {
        display: block;
        -webkit-box-flex: 1;
        text-align: center;
        color: #666;
        font-size: 16px;
        margin: 0 5px; }
        .bili-wrap .bili-header-bar .header-nav a.active {
          border-bottom: 3px solid #de698c; }

.bili-footer-bar {
  clear: both;
  width: 100%;
  background: #eee;
  padding: 10px;
  box-sizing: border-box; }
  .bili-footer-bar .change {
    padding: 10px 20px;
    box-sizing: border-box;
    display: -webkit-box; }
    .bili-footer-bar .change .changeItem {
      -webkit-box-flex: 1;
      display: -webkit-box;
      border-right: 1px solid #ccc; }
      .bili-footer-bar .change .changeItem a {
        -webkit-box-flex: 1;
        display: block;
        text-align: center; }
        .bili-footer-bar .change .changeItem a .icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../img/position3.png) no-repeat;
          background-size: 360px auto; }
          .bili-footer-bar .change .changeItem a .icon.icon-computer {
            background-position: -190px -5px; }
          .bili-footer-bar .change .changeItem a .icon.icon-phone {
            background-position: -190px -50px; }
          .bili-footer-bar .change .changeItem a .icon.icon-top {
            background-position: -190px -95px; }
        .bili-footer-bar .change .changeItem a span {
          -webkit-box-flex: 1;
          color: #666;
          font-weight: normal; }
      .bili-footer-bar .change .changeItem.top {
        border: none; }
  .bili-footer-bar p {
    width: 100%;
    line-height: 25px;
    text-align: center;
    color: #999; }

.bili-list {
  width: 100%;
  overflow: hidden; }
  .bili-list dl {
    float: left;
    width: 50%;
    box-sizing: border-box; }
    .bili-list dl:nth-child(even) {
      padding-left: 5px;
      box-sizing: border-box; }
    .bili-list dl:nth-child(odd) {
      padding-right: 5px;
      box-sizing: border-box; }
    .bili-list dl dt {
      width: 100%;
      border-radius: 5px;
      overflow: hidden; }
      .bili-list dl dt img {
        display: block;
        width: 100%; }
    .bili-list dl dd {
      width: 100%;
      height: auto;
      padding-bottom: 10px; }
      .bili-list dl dd h3 {
        font-size: 12px;
        font-weight: normal;
        height: 20px;
        overflow: hidden; }
      .bili-list dl dd .meta {
        display: -webkit-box;
        -webkit-box-pack: justify;
        margin-top: 5px; }
        .bili-list dl dd .meta span {
          display: -webkit-box; }
  .bili-list.live-list dl dd {
    display: -webkit-box;
    height: 40px; }
    .bili-list.live-list dl dd .user-photo {
      width: 56px; }
      .bili-list.live-list dl dd .user-photo .photo {
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 40px;
        margin: -20px 0 0 5px; }
      .bili-list.live-list dl dd .user-photo .look-num {
        display: block;
        width: 90%;
        height: 20px;
        line-height: 20px;
        background: #ccc;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        color: white; }
    .bili-list.live-list dl dd .user-info {
      -webkit-box-flex: 1;
      margin-left: 5px; }
      .bili-list.live-list dl dd .user-info .user-name {
        color: #333;
        font-size: 14px; }
      .bili-list.live-list dl dd .user-info .user-tro {
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  .bili-list.bangumi-list dl {
    width: 33.33333%; }
    .bili-list.bangumi-list dl:nth-child(3n-2) {
      padding: 0 5px 0 0; }
    .bili-list.bangumi-list dl:nth-child(3n-1) {
      padding: 0 2.5px 0 2.5px; }
    .bili-list.bangumi-list dl:nth-child(3n-0) {
      padding: 0 0 0 5px; }
    .bili-list.bangumi-list dl dd h4 {
      width: 100%;
      color: #333;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: normal; }
    .bili-list.bangumi-list dl dd p {
      color: #de698c;
      text-align: center; }

.clear {
  clear: both; }

.bili-index {
  width: 100%; }
  .bili-index .bili-content-banner {
    width: 100%;
    overflow: hidden; }
    .bili-index .bili-content-banner .pic-box img {
      float: left; }
  .bili-index .bili-content-main {
    background: #f4f4f4;
    overflow: hidden; }
    .bili-index .bili-content-main .main-type-box {
      margin-top: 12px;
      background: #fff;
      padding: 0 10px;
      box-sizing: border-box; }
      .bili-index .bili-content-main .main-type-box .icon {
        background: url("../img/position2.png") no-repeat;
        background-size: 30px auto;
        display: block;
        width: 20px;
        height: 20px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-hot {
          background-position: -5px -214px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-ranking {
          background-position: -5px -65px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-play {
          background-position: -5px -422px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-danmu {
          background-position: -5px -442px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-live {
          background-position: -5px -154px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-arrow {
          background-position: -5px -394px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-bangumi {
          background-position: -5px -365px; }
        .bili-index .bili-content-main .main-type-box .icon.icon-douga {
          background-position: -5px -305px; }
      .bili-index .bili-content-main .main-type-box header {
        display: -webkit-box;
        -webkit-box-pack: justify;
        height: 44px; }
        .bili-index .bili-content-main .main-type-box header div {
          font-size: 14px;
          display: -webkit-box;
          -webkit-box-pack: center;
          -webkit-box-align: center; }
          .bili-index .bili-content-main .main-type-box header div span {
            padding: 0 5px;
            display: block; }
          .bili-index .bili-content-main .main-type-box header div.news-link span {
            color: #ffc133; }
          .bili-index .bili-content-main .main-type-box header div.live-more span {
            color: #999; }

.bili-channel {
  width: 100%;
  background: #eee;
  height: 100%;
  overflow: hidden;
  padding: 20px 0; }
  .bili-channel .channel-nav {
    width: 100%; }
    .bili-channel .channel-nav dl {
      float: left;
      width: 33.33333%;
      text-align: center;
      margin: 10px 0; }
      .bili-channel .channel-nav dl dt {
        width: 100%; }
        .bili-channel .channel-nav dl dt .icon {
          position: relative;
          margin: 0 auto;
          display: block;
          width: 70px;
          height: 70px;
          background: url("../img/position1.png") no-repeat;
          background-size: 274px auto; }
          .bili-channel .channel-nav dl dt .icon.icon-c1 {
            background-position: -137px 0; }
            .bili-channel .channel-nav dl dt .icon.icon-c1 span {
              display: none; }
          .bili-channel .channel-nav dl dt .icon.icon-c2 {
            background-position: -205px -136px; }
          .bili-channel .channel-nav dl dt .icon.icon-c3 {
            background-position: -205px 0; }
          .bili-channel .channel-nav dl dt .icon.icon-c4 {
            background-position: 0 -68px; }
          .bili-channel .channel-nav dl dt .icon.icon-c5 {
            background-position: -205px -68px; }
          .bili-channel .channel-nav dl dt .icon.icon-c6 {
            background-position: 0 -136px; }
          .bili-channel .channel-nav dl dt .icon.icon-c7 {
            background-position: -68px 0; }
          .bili-channel .channel-nav dl dt .icon.icon-c8 {
            background: url("../img/life.png") no-repeat;
            background-size: 68px auto; }
          .bili-channel .channel-nav dl dt .icon.icon-c9 {
            background-position: -136px -68px; }
          .bili-channel .channel-nav dl dt .icon.icon-c10 {
            background: url("../img/happy.png") no-repeat;
            background-size: 68px auto; }
          .bili-channel .channel-nav dl dt .icon.icon-c11 {
            background-position: -68px -68px; }
          .bili-channel .channel-nav dl dt .icon.icon-c12 {
            background-position: 0 0; }
          .bili-channel .channel-nav dl dt .icon.icon-c13 {
            background-position: -68px -136px; }
          .bili-channel .channel-nav dl dt .icon.icon-c14 {
            background: url("../img/ad.png") no-repeat;
            background-size: 68px auto; }
          .bili-channel .channel-nav dl dt .icon span {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 5px;
            height: 20px;
            line-height: 20px;
            background: #ccc;
            color: white;
            border-radius: 10px; }

.bili-live {
  width: 100%; }
  .bili-live .bili-content-banner img {
    display: block;
    width: 100%; }

/*# sourceMappingURL=bilibili.css.map */
