.bili-footer-bar{
	clear:both;
	width:100%;
	background:#eee;
	padding:10px;
	box-sizing:border-box;
	.change{
		padding:10px 20px;
		box-sizing:border-box;
		display:-webkit-box;
		.changeItem{
			-webkit-box-flex:1;
			display:-webkit-box;
			border-right:1px solid #ccc;
			a{
				-webkit-box-flex:1;
				display:block;
				text-align:center;
				.icon{
					display:inline-block;
					width:20px;
					height:20px;
					background:url(../img/position3.png) no-repeat;
					background-size:360px auto;
					&.icon-computer{
						background-position:-190px -5px;
					}
					&.icon-phone{
						background-position:-190px -50px;
					}
					&.icon-top{
						background-position:-190px -95px;
					}
				}
				span{
					-webkit-box-flex:1;
					color:#666;
					font-weight:normal;
				}
			}
			
			&.top{
				border:none;
			}
		}
	}
	p{
		width:100%;
		line-height:25px;
		text-align:center;
		color:#999;

	}
}